* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  grid-auto-flow: row;
  display: grid;
  grid-template-areas: "head" "bottom" "foot"; 
   grid-template-rows: max-content 1fr max-content;
  }
/* header * {
  border: 2px dashed green;
} */
  header {
    height: max-content;
    font-size: 1.2em;
    grid-area: "head";
    /* display: grid; */
    position: relative;
    /* grid-auto-flow: row;
    grid-template-areas: "branding" "menu"; */
    /* margin-bottom: 15px;
    margin-top: 10px; */
   }
   
  .navbar-wrapper { 
    position: relative;
    display: grid;
    /* grid-area: mewnu; */
    grid-auto-flow: row;
    /* grid-template-rows: min-content auto; */
    grid-template-areas: "branding" "menu";
    align-items: center;
    padding-top: 15px;
    }

.menu-elements-wrapper {/*dawniej -1*/
    grid-area: "menu";
    width: 100%;
    order: 2;
    justify-content: center;
  } 
 
   main {
     display: grid;
     position: relative;
     grid-area: "bottom";
     grid-template-areas: "left right";
     grid-template-columns: min-content auto;
     max-width: 1100px;
     margin: 0 auto;
   }
    
  .brand-nav {
    display: grid;
    grid-auto-flow: column;
    grid-area: "branding";
    grid-template-areas: "logo title";
    justify-content: center;
    grid-gap: 0;
    padding-bottom: 15px;
    order: 1;
  }

  .App-logo {
    grid-area: "logo";
    height: 4em;
  }
  
  .img-logo {
    height: 4em;
    width: auto;
    padding-right: 10px;
  }


  .menu-elements {  
    display:grid;
    max-width: 1100px;
    margin: 0 auto 10px;
    /* padding: 10px 0; */
    /* justify-self: center; */
    grid-auto-flow: column;
    background-color: lightgray;
    /* border-bottom: 2px solid lightslategrey; */
    gap: 0;
  }

  .menu-link{
  position: relative;
  /* background-color: white; */
  max-width: 10em;
  height: 1.5em;
  margin: auto;
  text-align: center;
}

.menu-link:hover {
  background-color: white;/*#474747;*/
    /* color: white; */
  /* border: 1px solid gray; */
  /* height: calc(1.5em - 2px); */
  /* border-top: 1px solid lightgray; 
  border-bottom: 1px solid lightgray; */
  padding: auto 0;
  color: black;
}
a {
  color: darkslategrey;
}
.menu-a {
 text-decoration: none;
}

.navbar-button {
  display: none;
}

 header button {
  height: min-content;
  width: min-content;
  padding: 5px;
  border: 1px solid rgb(71, 71, 71);
  background-color: white;
}

  .button-img {
    width: 20px;
    height: 20px;
  }
/*end of header styling*/





.leftdiv {
  /* background-image: linear-gradient(to right, lightgrey 90%, white); */
  font-size: 0.8em;   
  min-width: max-content; 
  grid-area: "left";
  padding:  1em;  
}

 main button {
  border: 1px solid #474747;
  background-color: white;
  padding: 4px 6px;
  margin: 10px 5px;
}

main button:hover {
background-color: #474747;
color: white;
}

.rightdiv {
    /* background-image: linear-gradient(to left, lightgrey 95%, white); */
  font-size: 0.8em;
  display:flexbox;
  flex-direction: column;
  width: 90%;
  min-width: 60vw; 
  min-height: 200px;
  border-left: 2px solid grey;
  padding: 15px 25px;
  margin: 20px auto;
  grid-area: "right";
}


.appointment {
background-color: white;
border-bottom: 0.7px dotted grey;
padding-left: 5px;
margin: 15px;
font-size: 80%;
}



.App-footer {
  grid-area: "foot";
  font-size: 0.7em;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: max-content;
  padding: 10px 20%;
  display: block;
  background-color: lightgray;
}


@media (max-width: 800px) {

  .brand-nav {
    justify-content: center;
    margin: 20px 0;
   }

   .navbar-wrapper { 
    position: relative;
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 40px auto; */
    grid-template-areas: "branding";
    align-items: center;
    }

.menu-elements-wrapper {
    position: absolute;
    width: 0%;
    top: 30px;
    left: 30px;
    margin:0;
    z-index: 1;
  }

  .navbar-button {
    display: block;
    grid-area: "menu-button";
    position: absolute;
    padding: 5px 30px 0 15px; 
    justify-self: left; 
    width: 20px;
    top: 10px;
    left: 10px;
  }


  .menu-elements{
    grid-auto-flow: row;
    /* border: 2px solid lightgray; */
    width: fit-content;
    padding: 0;
  }
  .menu-link {
    width: 10em;
  }

  .menu-link:hover {
    background-color: white;
    color: darkslategrey;
    border: none;
  }
  /*end of header styling*/


  main {
    display: grid;
    grid-area: "bottom";
    grid-auto-flow: column;
    grid-template-areas: "left" "right";
    grid-template-columns: auto;
    width: 90%;
  }

  .leftdiv {
    /*background: initial;//https://stackoverflow.com/questions/45523879/cannot-remove-gradient*/
    margin: 0px;
    height: max-content;
    border-bottom: 2px solid grey;
  }
  

.rightdiv {
    flex-direction: row;
    min-width: 0; 
    border-left: 0px solid grey;
    padding: 15px 25px 15px 25px;
    margin-left: 0px;
  }


.appointment {
  background-color: white;
  border-top: 3px dotted darkgrey;
  border-bottom: 3px dotted darkgrey;
  }

}
