.App {
  grid-auto-flow: column;
  display: grid;
  grid-template-areas: "head" "bottom";
  }

  header {
    height: 7.5em;
    grid-area: "head";
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "brand-nav" "header" ;
    /*border: 3px solid rgb(202, 27, 158);*/
    margin-bottom: 5px;
    /*border: 1px solid rgb(119, 7, 95);*/
   }
   
   main {
     display: grid;
     grid-area: "bottom";
   
     grid-template-areas: "left right" "foot foot" ;
   }
   
   .App-header  {

    /*max-width: 90vw;
    position: relative;*/
    height: auto;
    background-color: white;
    /*border: 3px solid rgb(202, 132, 27);*/
    font-size: 1.2em;
    display:grid;
    grid-auto-flow: column;
    margin-bottom: 10px;
    grid-area: "header";

  }
   
  .brand-nav {
    display: grid;
    grid-auto-flow: row;
    grid-area: "brand-nav";
    grid-template-areas: "logo title ";
    justify-content: center;
  }

  .App-logo {
    grid-area: "logo";
    height: 4em;
  }
  
  .img-logo {
    height: 4em;
    width: auto;
    /*border: 3px solid rgb(11, 168, 63);*/
  }

  .navbar-wrapper {
    display: none;
    }

  .menu-elements-wrapper-1 {
    grid-area: "menu-el";
    /* border: 2px solid green; */
    width: 100%;
    
  }
  
    .menu-elements-1 {
    display:grid;
    grid-auto-flow: column;
    margin-left: 0px;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid lightslategrey;
  }

  .menu-link{
  /*border: 3px solid rgb(94, 7, 21);*/
  position: relative;
  background-color: white;
  width: 10em;
  height: 1.5em;
  text-align: center;
}

.menu-a {
 text-decoration: none;
}

.navbar-button-1 {
  /*border: 3px dotted black;*/
  grid-area: "menu-button";
  position: relative;
  padding: 5px 0 0 5px;  
  display: none;
}

.button-img {
  height: 1.5em;
  width:auto;
}
/*end of header styling*/

@media (max-width: 800px) {
  .navbar-wrapper-1 {
    display: none;
    }

  .navbar-wrapper {
    /* position: relative; */
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: fit-content 0px auto;
    grid-template-areas: "menu-button menu-el brand-nav";
    justify-items: center;
    }

  .navbar-button {
    grid-area: "menu-button";
    position: relative;
    padding: 5px 0 0 5px;  
  }

  .menu-elements-wrapper {
    position: relative;
    grid-area: "menu-el";
     border: 2px solid green; 
    width: 0%;
  }


  .menu-elements{
    position:absolute;
    grid-auto-flow: row;
  }

  /*end of header styling*/
}